@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* general text formatting */

h1, h2, h3, nav, footer {
  font-family: Lobster, Cambria, "Times New Roman", serif;
}
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 100%;
  background-color: #E8EAF6;
}


/* header and navigation */

header, footer {
  color: white;
  background-color: #1A237E;
  margin: 0em 4em 0.25em 4em;
}
header h1 {
  padding: 0.5rem 0 0 1.25rem;
  font-size: 2rem;
  font-weight: bold;
}
header p {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
  padding: 0 0 0 1.25rem;
}


/* main article styling */
main {
  background-color: white;
  margin: 1em 4em 1em 4em;
  padding: 1em;
}

section {
  margin-bottom: 1em;
  padding: 0;
  width: 100%;
}


legend {
  font-size: 1.35rem;
  background-color: #7986CB;
  height: 1.70rem;
  color: #E8EAF6;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 5px 0;
}

fieldset {
  margin: 0;
  padding: 0;
  background-color: #C5CAE9;
  width: 100%;
  border: none;
}
form p {
  margin-top: 0.5em;
}

table{
  width: 100%;
  height: 100%;
}

td{
  padding: 1px 8px;
}

input[name=Title]{
  width: 99%;
  padding-top:  4px;
  padding-bottom: 4px;

}

input[name=City] {
  width: 76%;
  padding-top:  4px;
  padding-bottom: 4px;
}

textarea{
  width: 99%;
  height: 80px;
  resize: both;
}

select{
  width: 77%;
  padding-top:  4px;
  padding-bottom: 4px;
}



article{
  width:98.4%;
  border: 0.5px solid #7986CB;
  margin-top: 1em;
  margin-right: 1em;
  padding-left: 0.25em;
  padding-top: .5em;
  padding-bottom: .5em;
}

#background{
  width: 99%;
  background-color:  #98a8d8;
  margin-top: 1em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

article[class=dateAndTime]{
  padding-top: 1em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  margin-bottom: 1em;
}

#Buttons{
  width: 99%;
  background-color:  #98a8d8;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;

  margin-bottom: 2em;
}

input[type=submit], input[type=reset]{
  background-color: #f81f62;
  border-radius: 6px;
  color: #E8EAF6;
  width: 6em;
  height: 3em;
  border: none;
  margin-left: 0.5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#location{
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left:8px;
}
